.DropTargetAttachment-target {
    background: transparent !important;
}

.ColorPickerCell--colorYellowOrange {
    background-color: #fd9a00 !important;
}

.ColorPickerCell--colorYellowGreen {
    background-color: #a4cf30 !important;
}

.ColorPickerCell--colorYellow {
    background-color: #eec300 !important;
}

.BoardColumnScrollableContainer-cardsList.is-empty,
.BoardCardWithCustomProperties,
.CardButton {
    background-color: #323f59 !important;
}

.dialog--nux {
    background: none !important;
}

.DatePickerCalendarDate--today .DatePickerCalendarDate-button::after {
    background-color: #fafafa !important;
}