.docs-icon,
canvas {
    filter: invert(80%);
}

.color-dialog .hsv-hs-image,
.color-dialog .hsv-v-image {
    filter: inherit !important;
}


.cell-input.editable {
    background-color: #cecece !important;
    color: #000 !important;
}

.cell-input.editable .match-paren {
    background-color: #338ccc !important;
}

.kix-cursor-caret {
    border-color: #cecece !important;
}

.kix-lineview-decorations>div {
    border-color: #aeaeae !important;
}

.formula-content span:not(.default-formula-text-color) {
    color: #038011 !important;
}

.default-formula-text-color {
    color: #000 !important;
}

#t-formula-bar-input .default-formula-text-color {
    color: #cecece !important;
}