a[data-pid] span {
    filter: inherit;
}

svg text {
    stroke: none !important;
}

ul[role="listbox"] {
    background-color: #242424;
}

li a[draggable="false"] span {
    filter: none !important;
}