img[src='images/cleardot.gif'] {
    filter: invert(85%)
}

div[role="navigation"] div:before,
div[role="navigation"] div:after {
    filter: invert(85%);
}

div[role="button"]:before {
    filter: none !important;
}

div[role="tab"] div[aria-hidden="true"] {
    filter: invert(85%);
}

/* Unread messages */
div[role="tabpanel"] td span.zF,
div[role="tabpanel"] td span.bqe {
    color: #fff !important;
}