div[role="region"] li {
    filter: invert(100%);
}

div[role="banner"] svg,
a[role="button"] svg {
    filter: invert(80%);
}

.uiScrollableAreaContent span svg {
    filter: invert(80%);

}

div[data-testid="sticker"] svg {
    filter: brightness(0%) contrast(80%);
}

div[data-testid="sticker"] svg mask rect,
div[data-testid="sticker"] svg rect {
    fill: white !important;
}

div[data-testid="sticker"] svg mask path {
    fill: black !important;
}

div[data-testid="sticker"] svg~div {
    background-color: rgb(0, 153, 255) !important;
}