.mwe-math-fallback-image-inline {
    filter: invert(100%);
}

.mw-wiki-logo {
    filter: invert(90%);
}

.vectorTabs {
    background-image: none !important;
    border-left: 1px solid rgb(29, 79, 114);
}

.vectorTabs li {
    background-image: none !important;
    border-top: 1px solid rgb(29, 79, 114);
}

.vectorTabs span {
    background-image: none !important;
    border-right: 1px solid rgb(29, 79, 114);
}